
 /* Header Section */
h1{
    text-align: center;
}

#shoeList{
margin-left: 50px;


}
 
 /* Styles for Shop Now Button */
 #shopNowBtn{
     cursor: pointer;
 }
 
 
 /* styles for shopping cart icon */
 .fa-solid {
  margin-top: 20px;
  cursor: pointer;
 }
 
 
 
 
 /* Footer Section */
 footer{
     background: #946F43; /*  Website Theme Color */
     margin-top: 100px;
     padding: 30px 0;
 }
 
 footer:after{
     content: "";
     display: block;
     clear: both;
 }
 
 footer ul{
     float: left;
     padding: 0;
     list-style-type: none;
     color: #eee;
     width: 23%;
     margin-right: 2%;
 }
 
 footer li{
     margin: 10px 0;
 }
 
 footer a{
     color: #eee;
     text-decoration: none;
 }
 
 
 
   
   /* The sidebar links */
   .sidebar a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s;
   }
   
   /* When you mouse over the navigation links, change their color */
   .sidebar a:hover {
     color: #f1f1f1;
   }
   
   /* Position and style the close button (top right corner) */
   .sidebar .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
   }
   
   /* The button used to open the sidebar */
   .openbtn {
     font-size: 20px;
     cursor: pointer;
     background-color: #111;
     color: white;
     padding: 10px 15px;
     border: none;
   }
   
   .openbtn:hover {
     background-color: #444;
   }
   
   
/* Styles for Filter By Section */

#filterBy h3{
    text-decoration: underline;
}

#filterBy {
    margin-top: 50px;
    margin-left: 25px;
    position: left;
}

